.regisform {
	margin: 100px auto;
	height: 320px;
	width: 320px;
	background: #f8f8f8;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.regisform > input {
	border: 1px solid #ccc;
	padding: 15px;
}
.regisform > input[type = submit]{
	background: #1cbc11;
}
.regisform > input[type = submit]:hover{
	background: #14a20a;
	cursor: pointer;
}