ul {
	list-style-type: none;
	color: white;
	display: grid;
	margin: 30% 30px 30% 30px;
}
ul > li {
	border-radius: 10px;
	margin: 4px;
	background: #9ba2f1;
	justify-content: center;
	text-align: center;
}
@media (min-width: 10px){
	ul {
		grid-template-columns: minmax(60px, 1fr) minmax(60px, 1fr) minmax(60px, 1fr);
		grid-template-rows: minmax(40px, 1fr) minmax(40px, 1fr);
	}
}